* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

body {
  border-top: 5px solid #0099FF;
  border-bottom: 1px solid #0099FF;
  background-color: rgb(69,69,69);
}

.header {
	background-color: rgba(17, 17, 17, 0.3);
	color: white;
	padding: 12px;
	font: bold 14px Verdana, sans-serif;
}

.white-text {
	color: white;
}

.center {
	text-align: center;
}

#main {
	padding-left: 0%;
	padding-right: 0%;
}

.pic-entry {
	border: 1px solid #0099ff;
	margin: 10px;
	width: auto;
	height: auto;
	float: left;
	border-radius: 5px;
}

.pic-entry:hover {
	border: 1px solid #ff0000;
}

.pic-entry a .img {
	width: 200px;
	//height: 200px;
	margin: 10px;
	transform: rotate(0deg);
}

.pic-entry a .img:hover {
	transform: rotateY(180deg);
	transition: 2s;
}

div.desc {	
	width: 200px;
	margin: 10px;
}

.full-image {
    /* This image will be displayed fullscreen */
    background: no-repeat center center;

    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;

    /* The Magic */
    background-size: contain;

    border: 0px 0px 1px 0px solid #0099ff;
}

.prev {
	background: url(./icons/arrow-left.png) no-repeat center center;
    min-height:100%;
	width: 32px;
	float: left;
	margin-top: auto;
	margin-bottom: auto;
}

div.prev:hover {
	background: url(./icons/arrow-left-hover.png) no-repeat center center;
}

div.next {
	background: url(./icons/arrow-right.png) no-repeat center center;
    min-height:100%;
	width: 32px;
	float: right;
	margin-top: auto;
	margin-bottom: auto;
}

div.next:hover {
	background: url(./icons/arrow-right-hover.png) no-repeat center center;
}

div.close {
	background-color: rgb(218, 64, 0);
	float: right;
	border-radius: 3px;
	padding: 5px;
	position: relative;
	top: -5px;
}

.title {
	padding: 0px;	
}

div.close a {
	text-decoration: none;
	color: white;
}

/* computer screen */
@media only screen and (min-width: 750px) {
	#main {
		padding-left: 2%;
		padding-right: 2%;
	}
}
