* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    border-top: 5px solid #0099FF;
    border-bottom: 0px solid #0099FF;
    background-color: rgb(69,69,69);
    cursor: auto;
}

header {
	//background-color: #303030;
    background: linear-gradient(90deg, #134e5e 10%, #744e4e 90%);
	color: #a292ff;//#00aaff;
	padding: 24px;
	font: bold Verdana, sans-serif;
	text-align: center;
}

.title {
}

.white-text {
	color: white;
}

.blue-text {
    color: #0099FF;
}

.yellow-text {
    color: yellow;
}

.violet-text {
    color: #a292ff;
}

#main {
	padding-left: 2%;
	padding-right: 2%;    
}

.folder-entry {
	border: 10px solid rgb(255, 255, 255);
	margin: 20px 20px;
	width: 300px;
	height: 200px;
	float: left;
	border-radius: 0px;
	overflow: hidden;
    background: linear-gradient(-45deg, #0099FF, rgb(69,69,69));

	-webkit-box-shadow: 5px 5px 5px #111;
          	box-shadow: 5px 5px 5px #111;
}

.folder-entry:hover {
	border: 10px solid #fffc56;
}

.folder-entry a {
	text-decoration: none;
	height: 200px;
	display: block;
	text-align: center;
	color: white;
	padding-top: 80px;

	-webkit-transition: all 1s ease;
	 -moz-transition: all 1s ease;
	   -o-transition: all 1s ease;
	  -ms-transition: all 1s ease;
	      transition: all 1s ease;
}

.folder-entry a:hover {
}

.pic-entry {
	border: 10px solid #fff;//#0099ff;
	margin: 20px 20px;
	width: 300px;
	height: 200px;
	float: left;
	border-radius: 0px;
	overflow: hidden;

	-webkit-box-shadow: 5px 5px 5px #111;
          	box-shadow: 5px 5px 5px #111;
}

.pic-entry:hover {
	border: 10px solid #fffc56;
}

/* grow */
.grow a img {
	width: 300px;
    border: 0px;

	-webkit-transition: all 1s ease;
	 -moz-transition: all 1s ease;
	   -o-transition: all 1s ease;
	  -ms-transition: all 1s ease;
	      transition: all 1s ease;
}

.grow a img:hover {
	width: 400px;
}

/* sidepan */
.sidepan a img {
	width: 300px;
	margin-left: 0px;
	-webkit-transition: margin 1s ease;
	 -moz-transition: margin 1s ease;
	   -o-transition: margin 1s ease;
	  -ms-transition: margin 1s ease;
	      transition: margin 1s ease;
}
 
.sidepan a img:hover {
	margin-left: -200px;
}

/* vertpan */
.vertpan a img {
	width: 300px;
	margin-top: 0px;
	-webkit-transition: margin 1s ease;
	 -moz-transition: margin 1s ease;
	   -o-transition: margin 1s ease;
	  -ms-transition: margin 1s ease;
	      transition: margin 1s ease;
}
 
.vertpan a img:hover {
	margin-top: 200px;
}

/* tilt */
.tilt {
	-webkit-transition: all 0.5s ease;
	 -moz-transition: all 0.5s ease;
	   -o-transition: all 0.5s ease;
	  -ms-transition: all 0.5s ease;
	      transition: all 0.5s ease;
}
 
.tilt:hover {
	-webkit-transform: rotate(-5deg);
	 -moz-transform: rotate(-5deg);
	   -o-transform: rotate(-5deg);
	  -ms-transform: rotate(-5deg);
	      transform: rotate(-5deg);
}

.tilt a img {
	width: 300px;
}

/* morph */
.morph {
	-webkit-transition: all 0.5s ease;
	 -moz-transition: all 0.5s ease;
	   -o-transition: all 0.5s ease;
	  -ms-transition: all 0.5s ease;
	      transition: all 0.5s ease;
}
 
.morph:active {
	border-radius: 50%;
	-webkit-transform: rotate(360deg);
	 -moz-transform: rotate(360deg);
	   -o-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	      transform: rotate(360deg);
}

.morph a img {
	width: 300px;
}

/* b&w */
.bw a img {
	width: 300px;
	-webkit-transition: all 1s ease;
	 -moz-transition: all 1s ease;
	   -o-transition: all 1s ease;
	  -ms-transition: all 1s ease;
	      transition: all 1s ease;
}
 
.bw a img:hover {
	-webkit-filter: grayscale(100%);
}

/* darken */
.brighten a img {
	width: 300px;
	-webkit-filter: brightness(65%);
	-webkit-transition: all 1s ease;
	 -moz-transition: all 1s ease;
	   -o-transition: all 1s ease;
	  -ms-transition: all 1s ease;
	      transition: all 1s ease;
}
 
.brighten a img:hover {
	-webkit-filter: brightness(100%);
}

/* description */
.desc {
	width: 300px;
	margin: 5px;
}

/* full.html */
#placeholder {
    /* This image will be displayed fullscreen */
    background: no-repeat center center;

    /* Ensure the html element always takes up the full height of the browser window */
    min-height: 100%;

    /* The Magic */
    background-size: contain;

    border: 0px 0px 1px 0px solid #0099ff;
}

div.prev {
	background: url(./icons/arrow-left.png) no-repeat center center;
    min-height: 100%;
	width: 32px;
	float: left;
	margin-top: auto;
	margin-bottom: auto;
    position: relative;
    z-index: 100;
}

div.prev:hover {
	background: url(./icons/arrow-left-hover.png) no-repeat center center;
    cursor: pointer;
}

div.next {
	background: url(./icons/arrow-right.png) no-repeat center center;
    min-height: 100%;
	width: 32px;
	float: right;
	margin-top: auto;
	margin-bottom: auto;
    position: relative;
    z-index: 100;
}

div.next:hover {
	background: url(./icons/arrow-right-hover.png) no-repeat center center;
    cursor: pointer;
}

div.full-header {
	background-color: rgba(11, 11, 11, 0.6);
	color: white;
	padding-top: 12px;
    padding-left: 12px;
	font: bold Verdana, sans-serif;
	text-align: center;
    position: fixed;
    top: 4px;
    width: 100%;
    z-index: 1000; /*seuls élements positionnés (fixed, relative or absolute) peux avoir un z-index*/
}

div.close {
	background-color: #0099FF;
	float: left;
	border-radius: 3px;
	padding: 5px;
	position: relative;
	top: -5px;
}

div.close a {
	text-decoration: none;
	color: white;
}

div.fake-img {    
}

/* computer screen */
@media only screen and (min-width: 1024px) {
	#main {
		padding-left: 4%;
		padding-right: 2%;
	}

	* {
	  font-size: 16px;
	}
}

/* tablet */
@media only screen and (max-width: 768px) {
	#main {
		padding-left: 2%;
		padding-right: 2%;
	}

	* {
	  font-size: 24px;
	}
}

/* tablet */
@media only screen and (max-width: 480px) {
	#main {
		padding-left: 2%;
		padding-right: 2%;
	}

	* {
	  font-size: 36px;
	}
}
