* {
  padding: 0;
  margin: 0;
  font: 300 18px 'Roboto', sans-serif;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    border-top: 5px solid #fc0;
    border-bottom: 0px solid #fc0;
    background-color: rgb(69, 69, 69);
    cursor: auto;
    min-height: 100%;
}

header {
    background: linear-gradient(90deg, #134e5e 10%, #744e4e 90%);
	color: #a292ff;//#00aaff;
	padding: 24px;
	font-weight: normal;
	text-align: center;
}

.clear {
    clear: both;
}

.white-text {
	color: white;
}

.blue-text {
    color: #0099FF;
}

.yellow-text {
    color: yellow;
}

.violet-text {
    color: #a292ff;
}

#main {
    padding-top: 20px;
}

.folder-entry {
	border: 1px solid #454545;
	margin: 10px;
	width: 360px;
	height: 240px;
	float: left;
	border-radius: 0px;
	overflow: hidden;
    background: linear-gradient(-45deg, #0099FF, rgb(69,69,69));
    padding-top: 100px;

	-webkit-box-shadow: 5px 5px 5px #111;
          	box-shadow: 5px 5px 5px #111;
}

.folder-entry:hover {
	border: 1px solid #fffc56;
}

.folder-entry a {
	text-decoration: none;
	display: block;
    height: inherit;
	text-align: center;
	color: white;
}

.pic-entry {
    background: no-repeat center center;
    background-size: cover;
    
	border: 1px solid #454545;
    padding: 0px;
	margin: 10px;
	width: 360px;
    height: 240px;
	float: left;
	border-radius: 0px;
	overflow: hidden;
    
	-webkit-box-shadow: 5px 5px 5px #111;
          	box-shadow: 5px 5px 5px #111;
}

.pic-entry:hover {
	border: 1px solid #fffc56;
}

.pic-entry.pic-vertical {
    //width: 240px;
    //height: 360px;
}

.grow a {
    display: block;
    height: inherit;
    outline: 0;
}

/* grow: background-size */
.grow {
    background-size: 100%;
    border: 0px;

	-webkit-transition: background-size 1s ease;
	 -moz-transition: background-size 1s ease;
	   -o-transition: background-size 1s ease;
	  -ms-transition: background-size 1s ease;
	      transition: background-size 1s ease;
}

.grow:hover {
    background-size: 140%;
}

/* sidepan */
.sidepan a img {
	width: 300px;
	margin-left: 0px;
	-webkit-transition: margin 1s ease;
	 -moz-transition: margin 1s ease;
	   -o-transition: margin 1s ease;
	  -ms-transition: margin 1s ease;
	      transition: margin 1s ease;
}
 
.sidepan a img:hover {
	margin-left: -200px;
}

/* vertpan */
.vertpan a img {
	width: 300px;
	margin-top: 0px;
	-webkit-transition: margin 1s ease;
	 -moz-transition: margin 1s ease;
	   -o-transition: margin 1s ease;
	  -ms-transition: margin 1s ease;
	      transition: margin 1s ease;
}
 
.vertpan a img:hover {
	margin-top: 200px;
}

/* tilt */
.tilt {
	-webkit-transition: all 0.5s ease;
	 -moz-transition: all 0.5s ease;
	   -o-transition: all 0.5s ease;
	  -ms-transition: all 0.5s ease;
	      transition: all 0.5s ease;
}
 
.tilt:hover {
	-webkit-transform: rotate(-5deg);
	 -moz-transform: rotate(-5deg);
	   -o-transform: rotate(-5deg);
	  -ms-transform: rotate(-5deg);
	      transform: rotate(-5deg);
}

.tilt a img {
	width: 300px;
}

/* morph */
.morph {
	-webkit-transition: all 0.5s ease;
	 -moz-transition: all 0.5s ease;
	   -o-transition: all 0.5s ease;
	  -ms-transition: all 0.5s ease;
	      transition: all 0.5s ease;
}
 
.morph:active {
	border-radius: 50%;
	-webkit-transform: rotate(360deg);
	 -moz-transform: rotate(360deg);
	   -o-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	      transform: rotate(360deg);
}

.morph a img {
	width: 300px;
}

/* b&w */
.bw a img {
	width: 300px;
	-webkit-transition: all 1s ease;
	 -moz-transition: all 1s ease;
	   -o-transition: all 1s ease;
	  -ms-transition: all 1s ease;
	      transition: all 1s ease;
}
 
.bw a img:hover {
	-webkit-filter: grayscale(100%);
}

/* darken */
.brighten a img {
	width: 300px;
	-webkit-filter: brightness(65%);
	-webkit-transition: all 1s ease;
	 -moz-transition: all 1s ease;
	   -o-transition: all 1s ease;
	  -ms-transition: all 1s ease;
	      transition: all 1s ease;
}
 
.brighten a img:hover {
	-webkit-filter: brightness(100%);
}

/* caption */
.caption {
    position: relative;
    bottom: 0px;
    visibility: hidden;
    background-color: rgba(11, 11, 11, 0.6);
    color: #a292ff;
    font-size: 14px;
}

/* compl */
.compl {
    position: relative;
    top: -15px;
    left: 1px;
    visibility: hidden;
    background-color: rgba(11, 11, 11, 0.7);
    color: #a292ff;
    font-size: 14px;
    width: 8px;
}

/* full.html */
#pic {
    display: table;
    width: 100%;
}

.figure {
    display: table-cell;
    vertical-align: middle;
}

#placeholder {
    /* This image will be displayed fullscreen */
    //background: no-repeat center center;

    /* Ensure the html element always takes up the full height of the browser window */
    //min-height: 100%;

    /* The Magic */
    //background-size: contain;

    border: 1px solid #666;
	-webkit-box-shadow: 5px 5px 5px #111;
          	box-shadow: 5px 5px 5px #111;
}

.prev-button {
	background: url(./icons/arrow-left.png) no-repeat center center;
    width: 48px;
    height: 48px;
    background-color: #111;
    border-radius: 3px;
    
    position: fixed;
    left: 0; top: 0; bottom: 0;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 100;
}

.prev-button:hover {
	background: url(./icons/arrow-left-hover.png) no-repeat center center;
    cursor: pointer;
    background-color: #111;
}

.next-button {
	background: url(./icons/arrow-right.png) no-repeat center center;
    width: 48px;
    height: 48px;
    background-color: #111;
    border-radius: 3px;

    position: fixed;
    right: 0; top: 0; bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    z-index: 100;
}

.next-button:hover {
	background: url(./icons/arrow-right-hover.png) no-repeat center center;
    cursor: pointer;
    background-color: #111;
}

div.full-header {
	background-color: rgba(11, 11, 11, 0.6);
	color: white;
	padding: 12px;
	font-weight: normal;
	text-align: center;
    top: 4px;
    width: 100%;
}

div.btn-round {
	background-color: transparent;
	float: left;
	border-radius: 50%;
    width: 33px;
    height: 33px;
    border: 2px solid #0099FF;
	padding: 5px;
	position: relative;
	top: -5px;
    cursor: pointer;
}

div.btn-round:hover {
    background-color: #0099FF;
}

div.btn-lg {
    width: 40px;
    height: 40px;
}

div.btn-round a {
	text-decoration: none;
	color: white;
    display: block;
}

div.right {
    float: right;
    right: 10px;
}

/* computer screen */
@media only screen and (min-width: 1024px) {
}

/* smartphone */
@media only screen and (max-width: 768px) {
    .prev-button, .next-button {
        z-index: -1;
        visibility: hidden;
    }
}

footer {
    clear: both;
    width: 100%;
    text-align: center;
    background: linear-gradient(90deg, #134e5e 10%, #60744e 90%);
	color: white;
    margin-top: 20px;
	padding: 10px;
	font: 14px normal 'Roboto', sans-serif;
    border-top: 1px solid rgb(50, 50, 50);
	text-align: center;
    position: fixed;
    bottom: 0;
}

.table {
    display: table;
    margin: 0 auto;
}
