body {
    background-color: #9197a3;
    color: #333;
}

//.default {background-color: #377962;}
.default {background-color: #5A5A5A;}
.alternate {background-color: #375879;}

.date-text, .location-text {color: #999;}
.alternate .work-entry .date-text, .alternate .work-entry .location-text {color: #bbb;}

.desc p {color: #e5e5e5;}
.alternate .desc p {color: #e5e5e5;}

.desc ul li {color: #e5e5e5;}
.alternate .work-entry .desc ul li {color: #e5e5e5;}

a {color: #fc0;
}
.alternate .work-entry a {color: #fc0;
}

a:hover {color: #f90;}
.alternate .work-entry a:hover {color: #f90;}

.a-none-link {color: #fff;}
.alternate .a-none-link {color: #fff;}

header {
    background: linear-gradient(-90deg, #5A5A5A 10%, #375879 90%);
}

footer {
    background: linear-gradient(-90deg, #5A5A5A 10%, #375879 90%);
}