body {
    background-color: #9197a3;
    color: #333;
}

.default {background-color: #fff;}
.alternate {background-color: #375879;}

.default * {font-family: sans-serif;}

.desc p {color: #000;}
.alternate .desc p {color: #e5e5e5;}

.desc ul li {color: #000;}
.alternate .work-entry .desc ul li {color: #e5e5e5;}

a {color: #6cb200;}
.alternate .work-entry a {color: #85be2e;}

a:hover {color: #f90;}
.alternate .work-entry a:hover {color: #f90;}

.a-none-link {color: #000;}
.alternate .a-none-link {color: #fff;}
